{% extends "base.html" %}

{% block title %}
Firma Digital iaMODE
{% endblock %}

{% block content %}

<section class="hero-section">

    <div class="hero-card">

        <div class="hero-badge">
            Firma digital moderna
        </div>

        <h1 class="hero-title">
            Firma documentos PDF desde cualquier dispositivo
        </h1>

        <p class="hero-description">
            Firma con el dedo, mouse o lápiz digital de forma rápida,
            limpia y profesional.
        </p>

        <div class="hero-actions">
            <a href="/sign" class="primary-btn">
                Comenzar
            </a>
        </div>

    </div>

</section>

{% endblock %}